<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>比价搜索页面</title>
    <link rel="stylesheet" href="./lib/mui/css/mui.css">
    <script src="./lib/font-awesome/css/font-awesome.css"></script>
    <link rel="stylesheet/less" href="./less/category.less">
    <script src="./lib/less/less.js"></script>
</head>
<body>
    <!-- 头部区域 -->
    <header id="header">
        <div class="left mui-pull-left">
            <a href="#" class="logo" alt="Logo" title="慢慢买">
                <img src="./images/header_logo.png" alt="">
            </a>
        </div>
        <div class="right mui-pull-right">
            <a href="#" class="download" alt="手机app下载" title="手机app下载"> 
                <img src="./images/header_app.png" alt="">
            </a>
        </div>
    </header>

    <main id="main">
        <div class="content">
            <!-- 区域滚动的父容器 -->
            <div class="mui-scroll-wrapper">
                <!-- 区域滚动的子容器 -->
                <div class="mui-scroll">
                    <!-- 真实要显示的DOM内容 -->
                    <div class="searchBar">
                        <input value="" name="key" type="search" placeholder="请输入你想比价的商品">
                        <button class="searchbtn" type="submit" value="搜索">搜索</button>
                    </div>
                    <div class="bigbox">

                        <div class="products">
                            
                            
                        </div>
                    </div>


                </div>
            </div>
        </div>
                
    </main>


     <!-- 尾部区域 -->
    <footer id="footer">
        <div class="top">
            <div class="mui-content">
                <div class="mui-row">
                    <div class="mui-col-xs-4 mui-col-sm-4">
                        <a class="mui-table-view-cell">
                            登录
                        </a>
                    </div>
                    <div class="mui-col-xs-4 mui-col-sm-4">
                        <a class="mui-table-view-cell">
                            注册
                        </a>
                    </div>
                    <div class="mui-col-sm-4 mui-col-xs-4">
                        <a class="mui-table-view-cell">
                            <img src="./images/top.jpg" alt=""> 返回顶部
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="content">
                <p>
                    <a href="#" class="app">手机APP下载</a>
                    <a href="#" class="phone">慢慢买手机版</a>
                    --掌上比价平台
                </p>
                <p>m.manmanbuy.com</p>
            </div>
        </div>
    </footer>

    <script type="text/html" id="listTmp">       
        {{each result}}
            <ul class="mui-table-view  things" data-id ={{$value.titleId}}> 
                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">{{$value.title}}</a>
                    <div class="mui-collapse-content top">
                    <div class="mui-content">
                            <div class="mui-row datas">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        {{/each}}        
    </script>

    <script type="text/html" id="erTmp">
        {{each result}}
            <div class="mui-col-xs-4 mui-col-sm-4" data-id={{$value.categoryId}}>
                <a class="mui-table-view-cell" data-titleId={{$value.titleId}} href="./products.html?id={{$value.categoryId}}">
                    {{$value.category}}
                </a>
            </div>
        {{/each}}

        {{if result.length % 3 == 1}}
            <div class="mui-col-xs-4 mui-col-sm-4">
                <a class="mui-table-view-cell">
                    
                </a>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                    <a class="mui-table-view-cell">
                        
                    </a>
                </div>
        {{/if}}
        {{if result.length % 3 == 2}}
            <div class="mui-col-xs-4 mui-col-sm-4">
                <a class="mui-table-view-cell">
                    
                </a>
            </div>
        {{/if}}


    </script>

     <!-- 1.引入需要的文件 -->
     <script src="./lib/mui/js/mui.min.js"></script>
     <script src="./lib/zepto/zepto.min.js"></script>
     <script src="./lib/artTemplate/template.js"></script>
     <script src="./js/category.js"></script>
</body>
</html>